# Gayatama Web Push Notification VAPID Keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BGHxRpbw6tkPk01tgL65p2ThaT3zrzwRtnlSWbK6lJZC51GdYf2CdY-rrI0ol_SbhTjTeiUElZ0yeBpvQEENa1Y
VAPID_PRIVATE_KEY=your_vapid_private_key_here
VAPID_SUBJECT=mailto:admin@gayatama.univ.ac.id

# Backend URL
NEXT_PUBLIC_API_URL=http://127.0.0.1:8000
